# START CRON JOB
*/5 * * * * python3 /app/spoonie.py --spotify-user "$SPOTIFY_USERNAME" --spotify-password "$SPOTIFY_PASSWORD" --tonie-username "$TONIE_USERNAME" --tonie-username "$TONIE_PASSWORD" --tonie-household "$TONIE_HOUSEHOLD" --creative-tonie "$CREATIVE_TONIE" --playlist "$PLAYLIST" --data-path "$DATA_PATH" /app/spoonie.py > /proc/1/fd/1 2>/proc/1/fd/2
# END CRON JOB