certifi==2023.11.17
charset-normalizer==3.3.2
defusedxml==0.7.1
idna==3.6
ifaddr==0.2.0
librespot @ git+https://github.com/kokarare1212/librespot-python@81ecec3b682e1bec5b3ee80342f8db6c15a84047
logging==0.4.9.6
protobuf==3.20.1
pycryptodomex==3.19.0
PyOgg==0.6.14a1
requests==2.31.0
urllib3==2.1.0
websocket-client==1.7.0
zeroconf==0.131.0
music_tag
ffmpy
tonie-api